@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --red: #a70000;
    --gold: #c5ae4f;
    --white: #eee8e8;
    --black: 	#604c4c
}

html {
    height: 100%;
}

body {
    height: inherit;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
}

.content {
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content h1 {
    color: var(--black);
    font-family: 'Cinzel', 'serif';
}

form {
    padding: 2rem;
    width: 375px;
    border: 2px solid var(--gold);
}

form button {
    background-color: var(--gold);
    padding: 0.25rem 0.75rem;
    border: none;
    cursor: pointer;
    font-family: 'Cinzel', 'serif';
    font-weight: 600;
}

.input-wrapper {
    margin-bottom: 1rem;
}

.input-wrapper input {
    border: none;
    height: 1.5rem;
    margin-left: 0.5rem;
}

.output {
    margin-top: 1rem;
    width: 375px;
    font-weight: 700;
    font-size: 1.5rem;
    padding: 2rem;
    border: 2px solid var(--gold);
    text-align: center;
    display: none;
}

@media (max-width: 376px) {
    .content {
        width: 100%;
    }
}
